@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hwb(203 2% 91%);
}

.wrapper{
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #0ef;
}

.wrapper .form-box{
    position: absolute;
    top:0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 255, 0.128);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-box h2{
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.form-box .input-box{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}