@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

 
/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Define some global var so that we can change easily */
    --primary-text-color: #183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d6983;
    --padding-inline-selection:20px;
}

body{
    font-family: 'poppins', sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    /* No Underline */
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

.primary-btn{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 12px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}




/* -------------------------------------- */
/*         Making Utility Class           */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    /* Giving left right margin.So that our content will be in center */
    margin-inline: auto;
    padding-inline: var(--padding-inline-selection);
    
}

.flex{
    display: flex;
    align-items: center;
}

.hover-link{
    color: var(--primary-text-color);
}

.hover-link:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}

.primary-btn:hover{
    background-color: var(--accent-color-dark);
}

.secondary-btn{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color);
    padding: 12px 12px;
    transition: 0.2s ease-out;
}

.secondary-btn:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}


/* --------------------------------------- */
/*           cta-Section                   */


.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
}

.cta-section{
    background-color: #183b54;
    padding: 120px var(--padding-inline-selection) 80px;
}

.cta-section-container p{
    color: white;
    margin-top: 20px;
}



/* --------------------------------------- */
/*         Footer Section                  */

footer{
    padding-block: 80px;
    background-color: #92acc9;
}

.footer-container a img{
    /* background-color: #000; */
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}



/* --------------------------------------------------- */
/*                Sub-Footer                           */

.sub-footer{
    background-color: #b9cde4;
    padding: var(--padding-inline-selection);
}

.sub-footer-container{
    justify-content: center;
    gap: 30px;
}
